// Variables
$btn-yellow: #F2ED2F;
$btn-blue: #003374;
$btn-sheen: rgba(255, 255, 255, 0.8);

.btn-wrapper {
    background: linear-gradient(180deg, #FFF 0%, #03678D 52.4%, #FFF 100%);
    border-radius: 26px;
    padding: 2px;
    position: relative;

    div {
        position: absolute;
        top: -14px;
        width: 116px;
        height: 32px;
    }

    .glossy-btn {
        padding: 11px 40px;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        background: $btn-yellow;
        color: #003374;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.28px;

        &:hover {
            filter: brightness(1.05);
        }





    }
}