// Variables
$btn-yellow: #F2ED2F;
$btn-blue: #003374;
$btn-sheen: rgba(255, 255, 255, 0.8);

.glossy-btn {
    padding: 11px 40px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    border: 1px solid var(--1, #FFF);
    border-radius: 26px;
    background: $btn-yellow;
    color: #003374;
    font-family: "Elza Trial";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.28px;

    &:hover {
        filter: brightness(1.05);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: scale(0.96);
    }

    &:focus-visible {
        box-shadow: 0 0 0 3px rgba($btn-blue, 0.4);
    }


    &::before {
        content: '';
        position: absolute;
        top: -3px;
        left: 8%;
        width: 25px;
        height: 12px;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);
        filter: blur(4px);
        z-index: 3;
        pointer-events: none;
    }
}