.auth-card {
    border-radius: 16px;
    padding: 30px 20px;
    max-width: 300px;
    text-align: center;
    color: #fff;
    background-image: url('../assets//form-bg.png');
    background-repeat: no-repeat;
    // background-size: contain;
}

.auth-title {
    color: #F2ED2E;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-group {
    margin-bottom: 15px;
}

.auth-input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    font-size: 1rem;

    &::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    &:focus {
        border-color: #F4E06D;
        background: rgba(255, 255, 255, 0.3);
    }
}


.checkbox-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.75rem;
    user-select: none;
    line-height: 1.2;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 4px;
    }

    .label-text {
        font-size: 10px;
        color: #09152D;
    }

    &:hover input~.checkmark {
        background-color: rgba(255, 255, 255, 0.1);
    }

    input:checked~.checkmark {
        background-color: #F4E06D;
        border-color: #F4E06D;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked~.checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid #03678D;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    a {
        color: #09152D;
        text-decoration: underline;
    }
}

.resend-link {
    font-size: 10px;
    color: #09152D;
    cursor: pointer;
    margin-top: 5px;
}