@use 'variables' as *;
@use 'mixins' as *;
@use 'variables' as *;
@use 'mixins' as *;



// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-Light.otf') format('opentype');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-LightOblique.otf') format('opentype');
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-Regular.otf') format('opentype');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-Oblique.otf') format('opentype');
//   font-weight: 400;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-Medium.otf') format('opentype');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-MediumOblique.otf') format('opentype');
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-Semibold.otf') format('opentype');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-SemiboldOblique.otf') format('opentype');
//   font-weight: 600;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-Bold.otf') format('opentype');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ElzaText';
//   src: url('../fonts/ElzaTextTrial-BoldOblique.otf') format('opentype');
//   font-weight: 700;
//   font-style: italic;
// }


@font-face {
  font-family: 'ElzaText';
  src: url('../fonts/Elza_Black.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  /* Apply to everything wildcard */
}

body {
  font-family: $font-family-base !important;
  line-height: 1.5;
}

button,
input,
textarea,
select {
  font-family: $font-family-base !important;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}