@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-LightOblique.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-Oblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-MediumOblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-SemiboldOblique.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ElzaText';
    src: url('./ElzaTextTrial-BoldOblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}