@use '../../styles/variables' as *;

.mobile-layout {
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url('../../assets/background_.png');
  background-size: contain;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-color: #050564;
}