.home-content {
  .powered-by-icon {
    margin-bottom: 20px;

    img {
      height: 24px;
    }
  }

  .theme-btn {
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(180deg, #FFF 0%, #03678D 52.4%, #FFF 100%);
    width: 130px;
    height: 40px;
    display: grid;
    place-content: center;
    margin-bottom: 5px;

    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -3px;
      left: 8%;
      width: 25px;
      height: 12px;
      background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);
      filter: blur(4px);
      z-index: 3;
      pointer-events: none;
    }

    .theme-name {
      background-color: #82a7cc;
      width: 128px;
      height: 38px;
      display: grid;
      place-content: center;
      border-radius: 16px;


    }

  }
}