.home-content {
  .powered-by-icon {
    margin-bottom: 20px;

    img {
      height: 24px;
    }
  }

  .theme-btn {
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(180deg, #FFF 0%, #03678D 52.4%, #FFF 100%);
    width: 130px;
    height: 40px;
    display: grid;
    place-content: center;
    margin-bottom: 5px;
    position: relative;

    .shine {
      position: absolute;
      top: -18px;
      left: -32px;
      width: 116px;
      height: 32px;
    }



    .theme-name {
      background-color: #82a7cc;
      width: 128px;
      height: 38px;
      display: grid;
      place-content: center;
      border-radius: 16px;
      font-size: 16px;
      font-weight: 600;
      color: #003374;


    }

    &.selected {
      .theme-name {
        background-color: #003374;
        color: #82a7cc;
      }
    }

  }



}