.how-it-works-overlay {


    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); // Semi-transparent overlay behind popup
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);

    .modal-container {


        position: relative;
        border-radius: 16px;
        padding: 40px 20px 20px;
        width: 90%;
        max-width: 320px;
        text-align: center;
        background-image: url('../assets/form-bg.png');
        color: #fff;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;

        .close-icon {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;

            svg {
                width: 24px;
                height: 24px;

                path {
                    stroke: #F2ED2F; // Yellow color
                }
            }
        }

        .steps-content {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            margin: 25px 0px;

            .step-item {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4;
                text-transform: uppercase;

                .highlight-yellow {
                    color: #F2ED2F;
                }
            }
        }

        .powered-by {
            margin-top: 30px;

            img {
                height: 20px; // Adjust based on actual logo
            }
        }
    }
}