#custom-tf-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 600px;
    font-family: sans-serif;
}

.custom-tf-wrapper {
    position: relative;

    .shine {
        position: absolute;
        top: -19px;
        left: -25px;
        width: 48px;
        height: 12px;
    }
}

.custom-tf-input {
    width: 100%;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 0 25px;
    background: #82a7cc;
    backdrop-filter: none;
    color: #003374;
    font-size: 14px;

    &::placeholder {
        color: #003374;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        text-align: center;
    }

    &:focus {
        background: #82a7cc;

    }
}

.text-field-wrapper {
    border-radius: 50px;
    padding: 1px;
    background: linear-gradient(180deg, #FFF 0%, #03678D 52.4%, #FFF 100%);
    width: 100%;
}